{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

  <div class="bg-neutral-800 w-full flex flex-col items-center justify-center h-screen "> 
   
{# 
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button> #}


    {# {{ form_errors(registrationForm) }} #}
    {{ form_start(registrationForm) }}
    <div class="flex flex-col items-center justify-center h-screen dark">
    <div class="w-full max-w-md bg-gray-800 rounded-lg shadow-md  p-20">
    <div class="flex flex-col">
     <h1 class="text-2xl font-bold text-gray-200 mb-4 flex w-full justify-center">Register</h1>
        <label for="registration_form_email" class="text-gray-200 p ">Votre email : </label>
        {{ form_widget(registrationForm.email, { 'attr' : {'label': 'Email', 'class': 'text-black '}}) }}

        <label for="registration_form_plainPassword" class="text-gray-200 ">Votre mot de passe : </label>
        {{ form_widget(registrationForm.plainPassword, { 'attr' : {'label': 'Password', 'class': 'text-black'}}) }}

        <label for="registration_form_agreeTerms" class="text-gray-200 flex justify-center  py-4">Confirmer</label>
        {{ form_widget(registrationForm.agreeTerms, { 'attr' : {'label': 'Accept', 'class': 'text-white'}}) }}

    <div class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150">
        <button type="submit" class="btn">Register</button>
        </div>
        </div>
        </div>
    </div>
    
     
        {# {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        
          <button type="submit" class="btn">Register</button>
     #}
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
